{% extends 'serverapp/base.html' %}

{% block login_content %}



     <div class="col-md-7">
      <p> next = {{ next }}<br>
          site  = {{ site }} <br>
          site_name = {{ site_name }} <br>
      </p>

        <span><br></span> 
        {% if form.errors %}
          <p> next = {{ next }} </p>
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        
        {% if next %}

          <p> next = {{ next }} </p>

          {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
          {% else %}
            <p>Please login to see this page.</p>
          {% endif %}
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div class="col-md-7">





{% endblock login_content %}
