{% load static %}  <!-- https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#std:templatetag-static -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Server List</title>

    <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{% static 'serverapp/style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Bootstrap core CSS -->


  </head>

<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="navbar-brand"  src="{% static 'serverapp/aritari-logo.png' %}" alt="Powered By Voipex" height="60px">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      
        {% if user.is_authenticated %}
            {% for company_name in companies %}

              <li class="nav-item active">
                  <a  class="nav-link" href="{% url 'serverapp:servertablex' 3 company_name %}">{{ company_name }}</a>
              </li>
            {%endfor %}
        {% endif %}
              <li class="nav-item active"></li>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    
  

      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" href="{% url 'serverapp:viewname-new_entry_form' 3 %}">New Entry</a></li>
        
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}


                <li><button 
                  type="submit" 
                  class="btn btn-nooutline-dark my-1 my-sm-0"
                  
                  value="Go" 
                  onclick="location.href='{% url 'logout'%}?next={{request.path}}'"
                  name='mybtn2'>
                    
                     <!-- Bootstrap icon  https://icons.getbootstrap.com/icons/box-arrow-right/# -->
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                    {{ user.get_username|capfirst }} Logout
                </button></li>

              {% else %}

                <li><button 
                  type="submit" 
                  class="btn btn-nooutline-dark my-1 my-sm-0"
                  
                  value="Go" 
                  onclick="location.href='{% url 'login'%}?next={{request.path}}'"
                  name='mybtn2'>
                    
                     <!-- Bootstrap icon  https://icons.getbootstrap.com/icons/box-arrow-left/# -->
                      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-box-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                      </svg>
                    {{ user.get_username|capfirst }} Login
                </button></li>

              {% endif %} 
            </ul>


  </div>
</nav>



<!-- <div class="spinner-border text-secondary"></div> -->


 <div class="container-fluid">
   <div class="row">
     <div class="col-md-1">
     </div class="col-md-1">



      {% block servertable %}
         <div class="col-md-7">
           <div class="container-fluid"> 
               <h2>Aritari Server Monitor</h2>
               <img src="{% static 'serverapp/aritari-logo.png' %}" alt="Powered By Voipex" height="100px">
           </div>
         <div class="col-md-7">
      {% endblock servertable %}



      {% block login_content %}
      {% endblock login_content %}


      {% block logout-content%}
      {% endblock logout-content%}


   </div class="row">
 </div class="container-fluid">





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<!-- Prevent the page from reloading back at the top when a link is clicked -->
<!-- https://stackoverflow.com/questions/17642872/refresh-page-and-keep-scroll-position/17646165 -->
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });

    window.onbeforeunload = function(e) {
        sessionStorage.setItem('scrollpos', window.scrollY);
    };
</script>

</body>

</html>