{% extends 'serverapp/base.html' %}

{% include './server_details.html' %}

{% block server_list %}

     <div class="col-md-3">
        <ul>
         <div class="panel panel-default">
           <div class="panel-heading">{{ company_name }} servers</div>
              <div class="panel-body">
				{% for get_server in company_obj.server_set.all %}
    		      <li><a href="{% url url 'serverapp:links'  'showlinks' company_name get_server.name %}">{{ get_server }}</a></li>
				{% endfor %}
              </div class="panel-body">
        </ul>
     </div class="col-md-3">

 {% endblock server_list %}



{% block link_content %}

           <div class="col-md-5">
                <ul>
                 <div class="panel panel-default">
                   <div class="panel-heading">  {{ server_name }} links</div>
                      <div class="panel-body">
						{% for link in  links %}
                <li ><a style="color: {{ link.colour }}" style="font-size:15px" href="{% url 'serverapp:linkparameters' server_name link %}">{{ link }}</a></li>
                <!-- <li  style="color: {{ link.colour }}" style="font-size:15px">{{ link }}</li> -->
						    <!-- <li>{{ link.ipaddresses }}</li> --> 
				        {% endfor %}
                      </div class="panel-body">
                </ul>
             </div class="col-md-3">

{% endblock link_content %}