{% extends 'serverapp/base3.html' %}

{% block servertable %}


  <div class="col-md-5 order-md-1">

       <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
      });
      </script>

      {% for server in servers %}

        <hr><br>
         <h3 data-toggle="tooltip" title="{{ server.ip_list }}" style ="display: inline"> {{ server.name }}</h3>

         <!-- <button  style ="display: inline; position: absolute; right: 0" type="button" class="btn btn-light">Update</button> -->
        
          <button 
            type="submit" 
            class="btn btn-light btn-md" 
            style ="display: inline; position: absolute; right: 0"
            value= "{{ request.path }}"
            onclick="location.href='{% url 'serverapp:test_links' server.name %}'" 
            name='mybtn2'>
              Update
          </button>

          <button 
            type="submit" 
            class="btn btn-light btn-md" 
            style ="display: inline; position: relative;right:0"
            value= "{{ request.path }}"
            onclick="location.href='{% url 'serverapp:delete_server' server.name %}'" 
            name='deletebtn'>
              Delete
          </button>


          <!-- <input type="hidden" name="next" value="{{ request.path }}"> -->
        
        <table class="table table-hover">

          <thead>
            <tr>
              <th>No.</th>
              <th>Link  Name</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            {% for link in server.serverlink_set.all %}
              <tr style=" color: {{ link.colour }};">
                <th scope="row">{{ link.oid }}</a></th>
                <td><a href="{% url 'serverapp:linkparameters3' company_obj.name server.name link.name %}" style="color: {{ link.colour }}">{{  link.name }}</a></td>
                <td>{{ link.status }}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
        <br><br>
     
      {% endfor %}

   </div class="col-md-7">
{% block parameter_table %}
{% endblock parameter_table %}

{% endblock servertable %}

