{% extends 'serverapp/base2.html' %}



{% block servertable %}


 <div class="row">
    <!--   --> <div class="container-fluid">

  <div class="col-md-1">
  </div class="col-md-1">

  <div class="col-md-7">
      <!-- <div class="container-fluid"> -->

      {% for server in servers %}

        <hr><br>
        <h3> {{ server.name }}</h3>

        <table class="table table-hover">

          <thead>
            <tr>
              <th>No.</th>
              <th>Link  Name</th>
              <th>Last Name</th>
            </tr>
          </thead>

          <tbody>
            {% for link in server.serverlink_set.all %}
              <tr style=" color: {{ link.colour }};">
                <th scope="row">{{ link.oid }}</a></th>
                <td><a href="{% url 'serverapp:linkparameters2' company_obj.name server.name link.name %}"  class="stretched-link" style="color: {{ link.colour }}">{{  link.name }}</td>
                <td>{{ link.status }}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
        <br><br>
     
      {% endfor %}

   </div class="col-md-4">


<!--   <div class="col-md-3">
      <div class="col-md-3" style="position: fixed"> 
         <label>Link Details</label>
         <table class="table table-hover">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
            </tr>
          </thead>
           <tbody>
            <tr><td>Status</td><td>Up</td></tr>  
            <tr><td>Quality</td><td>95%</td></tr>  
           </tbody>
          </table>
      </div class="col-md-3"  style="position: fixed">
    </div class="col-md-3">
</div class="row">

 -->
{% block parameter_table %}
{% endblock parameter_table %}





{% endblock servertable %}

