[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "*"
backcall = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
decorator = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
httplib2 = "*"
idna = "*"
ipython = "*"
jedi = "*"
oauth2client = "*"
oauthlib = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pipenv = "*"
ply = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycryptodomex = "*"
pysmi = "*"
pysnmp = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
sqlparse = "*"
traitlets = "*"
uritemplate = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
wcwidth = "*"
Django = "*"
EZGmail = "*"
ipython_genutils = "*"
Pygments = "*"
daphne = "*"

[requires]
python_version = "3.6"
